
        .div_a {
            background-color: #FF0000;
            width: 700px;
            height: 700px;
        }
        
        .div_b {
            background-color: #000000;
            width: 350px;
            height: 350px;
        }

        .p_c {
            color: black;
            background-color: white;
            font-size: 35px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
        }

        .div_d {
            width: 60%;
            height: 60vh;
            background-color: rgb(44, 44, 44);
        }

        .div_e {
            width: 85vw;
            height: 30vh;
            background-color: rgb(0, 0, 0);
        }